<% layout('layouts/app') %>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    
</div>
<!-- 
 -->

<!-- Content Row -->

<div class="row">
    <div class="col-xl-7 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top 5 Products</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                
                                <th>Product Name</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% topProducts.forEach(function(product) { %>
                                <tr>
                                    <td><%= product.product_name %></td>
                                    <td><%= product.total_stock %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-5 col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">New 5 Products</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>COde</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <% recentProducts.forEach(function(product) { %>
                            <tr>
                                <td><%= product.product_code %></td>
                                <td><%= product.product_name %></td>
                                <td><%= product.price %></td>
                                <td><%= product.stock %></td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>